<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</head>
<body>

<form method="get">
    <input type="submit" value="Go Back" class="mdl-button mdl-js-button mdl-button--primary" formaction="*">
</form>


<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">City List</th>
    </tr>
    </thead>
    <tbody>
    <#list cities as citiesID>
        <tr>
            <td>${citiesID_index}</td>
            <td class="mdl-data-table__cell--non-numeric">${citiesID}</td>
            <td> </td>
        </tr>
    </#list>
    </tbody>
</table>

</body>
</html>