<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<form  method="get">
    <h1>Your login is:  ${login}.
    Your password is:  ${password}.</h1>
    <input type="submit" value="Go Back" formaction="*">
</form>

<!--<p>Message: ${message}</p>-->

<!--<p>Method: ${method}</p>-->

<!--<p>URL: ${URL}</p>-->

<!--<p>PathInfo: ${pathInfo}</p>-->

<!--<p>SessionId: ${sessionId}</p>-->

<!--<p>Parameters: ${parameters}</p>-->
</body>
</html>